.container{

margin:1% 1% 1% 1%;
height:500px;
display: flex;
flex-direction: column;
}
.center-text{
display: flex;
justify-content: center;
text-align: center;
margin-top: 18%;
}


.snowflake{
color:blue;
}
.sun{
color:orange
}
.first{
   position:absolute;
   top:10%;
   left:10%;

}
.second{
    position: absolute;
    bottom:10%;
    right:10%;
}
.winter{
    background-color: lightblue;
    border:1px solid blue;
}
.summer{
    background-color: lightgoldenrodyellow;
    border:1px solid orange;
}
.spinner{
    padding: 40% 0% 40% 0%;
}